body {
  margin: 0;
}

header {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: slategrey;
  display: flex;
}

header > .icon{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}

header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 180%;
}

header p{
  margin: 0;
}

main {
  /* background-color: salmon; */
  float: right;
  width: 80%;
  height: 800px;
}

.main {
  width: 70%;
  float: left;
}

.profile {
  align-items: center;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: slategray;
}

.headerimgs {
  position: relative;
}

.headerimgs > .icon {
  margin-right: 20px;
  border-style: solid;
  border-radius: 50%;
  border-width: 8px;
  border-color: white;

  max-width: 23%;
  height: auto;

  position: absolute;
  top: 55%;
  left: 5%;
}

.headerimgs > .headerimg {
  max-width: 100%;
  height: auto;
}

.bookmarkbutton > img {
  margin-left: 70%;
  margin-top: 1%;
  margin-bottom: 2%;
  max-width: 170px;
  height: auto;
}

.bio {
  padding-left: 20px;
}

.bio h1 {
  /* font-size: 200%; */
  margin: 0;
}

.bio h3{
  margin: 0;
  color: gray;
}

.bio p {
  
  line-height: 1.6;
}

.birthday_and_copyright {
  margin: 0;
  clear: both;
  color: gray;
  text-align: center;
  /* font-size: 12px; */
  display: flex;
}

.birthday {
  margin: 0;
  display: flex;
  margin-left: 20px;
}

.birthday img {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5px;
}

.birthday p {
  margin: 0;
  /* line-height: 1em; */
}

.copyright {
  margin: 0;
  display: flex;
  margin-left: 10px;
}

.copyright img {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 5px;
}

.copyright p {
  margin: 0;
  /* line-height: 1em; */
}

.right-navi {
  border-width: 0;
  border-left-width: 1px;
  border-style: solid;
  border-color: slategrey;
  /* background-color: skyblue; */
  float: left;
  width: calc(30% - 1px);
  height: 800px;
}

.left-navi {
  border-width: 0;
  border-right-width: 1px;
  border-style: solid;
  border-color: slategrey;
  /* background-color: yellowgreen; */
  float: left;
  width: calc(20% - 1px);
  height: 800px;
}